 /*For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */
/*Standard CSS styles below*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.nav ul {
  list-style: none;
  float: right;
}

.nav ul li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  font-size: 20px;
}

.title {
  clear: both;
  text-align: center;
  background-color: teal;
  color: white;
  padding: 10px;
  margin: 10px;
}

.gallery {
  width: 100vw;
  padding: 20px 4vw 0 4vw;
  overflow: hidden;
  /*background-color: #f3bfea;*/
}

.photo {
  float: left;
  height: 400px;
  padding: 5px;
}

.photo img {
  width: 28vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-height: 375px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 4px 4px 10px gray;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: green;

  }
  .photo {
    float: left;
    height: 30vw;
    padding: 5px;
  }

  .photo img {
    width: 28vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 175px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 10px gray;
  }
}

@media screen and (min-width: 250px) and (max-width: 767px) {
  .photo {
    display: block;
    padding: 5px;
  }

  .photo img {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 10px gray;
  }

  .nav ul {
    list-style: none;
    display: block;
    width: 100%;
    min-width: 230px;

  }

  .nav ul li {
    display: inline-block;
    padding: 5px;
    margin: 2vw 4vw;
    font-size: 17px;
    color: blue;
    text-align: center;

  }
}
